# UDEV Rules for stm32-gpio
#
# To install, type this command in a terminal:
#   sudo cp 49-stm32-gpio.rules /etc/udev/rules.d/.
#
# After this file is installed, physically unplug and reconnect stm32-gpio.
#
ATTRS{manufacturer}=="Keir Fraser", ATTRS{product}=="stm32-gpio", \
    ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{manufacturer}=="Keir Fraser", ATTRS{product}=="stm32-gpio", \
    ENV{MTP_NO_PROBE}="1"
ATTRS{manufacturer}=="Keir Fraser", ATTRS{product}=="stm32-gpio", \
    SUBSYSTEMS=="usb", TAG+="uaccess"
ATTRS{manufacturer}=="Keir Fraser", ATTRS{product}=="stm32-gpio", \
    KERNEL=="ttyACM*", TAG+="uaccess"
ACTION=="add", \
    ATTRS{manufacturer}=="Keir Fraser", ATTRS{product}=="stm32-gpio", \
    SYMLINK+="stm32-gpio"
